@import "tailwindcss";


.LogoGradient{
    mask-image: linear-gradient(to right,
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0)10%,
    rgb(0, 0, 0)90%,
    rgba(0, 0, 0, 0)
    );
}
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    background-attachment: fixed;
    font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  }
