@import "tailwindcss";


.LogoGradient{
    mask-image: linear-gradient(to right,
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0)10%,
    rgb(0, 0, 0)90%,
    rgba(0, 0, 0, 0)
    );
}
@keyframes sheen {
  0% { transform: translateX(-100%) skewX(-15deg); }
  100% { transform: translateX(100%) skewX(-15deg); }
}

.animate-sheen {
  animation: sheen 1s ease-in-out infinite;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    background-attachment: fixed;
    font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  }
